<a href="https://colab.research.google.com/github/NataliFA/Python_HW_2/blob/main/%D0%94%D0%97_1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задача 1:
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [8]:
def fruit_and_amount(**kwargs):
    all_fruit = 0
    for amount in kwargs.values():
      all_fruit += amount
    return all_fruit

print(f"Количество фруктов на складе - {fruit_and_amount(apple=10, banana=5, pineapple=2)}")

Количество фруктов на складе - 17

## Задача 2:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты  
[100, 125, -90, 345, 655, -1, 0, 200]  
Используйте list comprehensions

In [10]:
costs = [100, 125, -90, 345, 655, -1, 0, 200]

total_costs = [costs.remove(i) for i in costs if i < 0]

print("Суммарные затраты -", sum(costs))

Суммарные затраты - 1425

## Задача 3:
Даны два списка.  
Дата покупки  
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']  
Суммы покупок по датам  
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [11]:
date_of_purchase = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
sum_of_purchase = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Задача 3.1 
Найдите, какая выручка у компании в ноябре. Используйте list comprehensions

In [12]:
from functools import reduce
date_and_sum = list(zip(date_of_purchase,sum_of_purchase))
sum_in_november = [(date, amount) for date,amount in date_and_sum if date[6] == '1']
l = len(sum_in_november)
proceeds = reduce(lambda x,y: x + y, (sum_in_november[i][1] for i in range(l)))

print(f"Выручка компании в ноябре составила - {proceeds}")

Выручка компании в ноябре составила - 25098

### Задача 3.2 
Найдите выручку компании в зависимости от месяца. Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка. Используйте аннотирование типов.

In [13]:
def proceeds_in_month(date_lst: list, sum_of_date: list) -> dict:
  l = len(date_lst)
  month = ["September", "October", "November", "December"]
  
  spt = [sum_of_date[i] for i in range(l) if date_lst[i][5] == '0' and date_lst[i][6] == '9']
  spt_sum = sum(spt)
  oct = [sum_of_date[i] for i in range(l) if date_lst[i][6] == '0']
  oct_sum = sum(oct)
  nov = [sum_of_date[i] for i in range(l) if date_lst[i][6] == '1']
  nov_sum = sum(nov)
  dec = [sum_of_date[i] for i in range(l) if date_lst[i][6] == '2']
  dec_sum = sum(dec)

  total = [spt_sum, oct_sum, nov_sum, dec_sum]

  return {month[i]: total[i] for i in range(len(month))}
  
proceeds_in_month(date_of_purchase, sum_of_purchase)

{'September': 25647, 'October': 28645, 'November': 25098, 'December': 45452}